body {
    background-color:black;
}
.container {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "bluebox bluebox greenbox"
        "redbox graybox greenbox"
        "redbox yellowbox yellowbox";
        gap: 5px;
        margin: 100px auto;
}
.box {
    transition: box-shadow 0.2s;
}


.box:hover {
    box-shadow: 0px 0px 12px 5px inset rgba(255, 255, 255, 0.8), 0px 0px 12px 5px rgba(0, 0, 0, 0.8);

}
.blue {
    background-color: blue;
    grid-area: bluebox;
}
.green {
    background-color: green;
    grid-area: greenbox;
}
.yellow {
    background-color: yellow;
    grid-area: yellowbox;
}
.red {
    background-color: red;
    grid-area: redbox;
}
.gray {
    background-color: gray;
    grid-area: graybox;
}
