#box {
    height: 200px;
    width: 300px;
    background-color: violet;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
}
#button, #text {
    display: block;
    margin: 20px auto;
}